Repository esl51/octopus-next: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix, php ./vendor/bin/pint --repair

.lintstagedrc.json:

{
  "*.{ts,vue}": "npx eslint --fix",
  "*.{scss,css,vue}": "npx stylelint --fix",
  "*.php": "php ./vendor/bin/pint --repair"
}

fix tests
  tests/Feature/Auth/ForgotPasswordTest.php
  tests/Feature/Auth/LoginTest.php
  tests/Feature/Auth/ProfileTest.php
  tests/Feature/Auth/RegisterTest.php
  tests/Feature/Auth/VerifyEmailTest.php
  tests/Feature/Files/FileTest.php
  tests/Feature/PermissionTest.php
  tests/Feature/RoleTest.php
  tests/Feature/UserTest.php
  tests/ItemTest.php
  tests/TestCase.php
  tests/TypeTest.php
Due: php ./vendor/bin/pint --repair

update roadmap
  README.md
Due: none

single item api
  resources/js/api/item.ts
  resources/js/composables/useItem.ts
  resources/js/types/index.ts
Due: npx eslint --fix

form field
  resources/js/components/VFormControl.vue
  resources/sass/ui/_forms.scss
Due: npx eslint --fix, npx stylelint --fix

remove unnecessary fillable
  app/Http/Requests/Access/PermissionStoreUpdateRequest.php
  app/Http/Requests/Access/RoleStoreUpdateRequest.php
  app/Http/Requests/Access/UserStoreUpdateRequest.php
  app/Http/Requests/Files/FileStoreUpdateRequest.php
  app/Http/Requests/ItemStoreUpdateRequest.php
  stubs/ItemStoreUpdateRequest.stub
Due: php ./vendor/bin/pint --repair

remove fillable translations
  app/Http/Requests/Access/RoleStoreUpdateRequest.php
  app/Http/Requests/Files/FileStoreUpdateRequest.php
  app/Http/Requests/ItemStoreUpdateRequest.php
Due: php ./vendor/bin/pint --repair

fix single item fetch on mount
  resources/js/composables/useItem.ts
Due: npx eslint --fix

show toast when item updated
  resources/js/composables/useItem.ts
  resources/js/lang/en.ts
  resources/js/lang/ru.ts
Due: npx eslint --fix

simplify middlewares
  resources/js/middleware/acl.ts
  resources/js/middleware/auth.ts
  resources/js/middleware/guest.ts
  resources/js/middleware/locale.ts
  resources/js/router/index.ts
  resources/js/router/middlewarePipeline.ts
  resources/js/types/index.ts
Due: npx eslint --fix

update tabler
  package.json
  resources/sass/_globals.scss
Due: npx stylelint --fix

add support for json array as a property value to item test
  tests/ItemTest.php
Due: php ./vendor/bin/pint --repair

fix description provide/inject
  resources/js/composables/useFormControl.ts
Due: npx eslint --fix

add inline prop to checkboxes component
  resources/js/components/VCheckboxes.vue
Due: npx eslint --fix, npx stylelint --fix

fix cast highlight in radios component in vscode
  resources/js/components/VRadios.vue
Due: npx eslint --fix, npx stylelint --fix

fix logo color on dark theme
  resources/js/layouts/AppLayoutAuth.vue
Due: npx eslint --fix, npx stylelint --fix

assign default role to user
  app/Actions/Fortify/CreateNewUser.php
Due: php ./vendor/bin/pint --repair

remove unnecessary eslint-enable
  resources/js/components/ODropdown.vue
  resources/js/components/OFileList.vue
  resources/js/components/app/AppFiles.vue
  resources/js/components/app/AppUser.vue
  resources/js/modules/files/pages/PageFiles.vue
Due: npx eslint --fix, npx stylelint --fix

add sortable trait to files test
  tests/Feature/Files/FileTest.php
Due: php ./vendor/bin/pint --repair
