Repository esl51/octopus-next: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

update phpunit config
  phpunit.xml
Due: none

fix file test
  tests/Feature/Files/FileTest.php
Due: none

disalable users
  app/Http/Controllers/Access/UserController.php
  app/Http/Requests/Access/UserDisableRequest.php
  app/Http/Requests/Access/UserEnableRequest.php
  app/Http/Resources/Access/UserResource.php
  app/Models/Access/User.php
  app/Providers/AppServiceProvider.php
  app/Services/Access/UserService.php
  database/factories/Access/UserFactory.php
  database/migrations/0001_01_01_000000_create_users_table.php
  lang/en/auth.php
  lang/ru/auth.php
  resources/js/components/OActions.vue
  resources/js/modules/access/api.ts
  resources/js/modules/access/lang/en.ts
  resources/js/modules/access/lang/ru.ts
  resources/js/modules/access/pages/PageUsers.vue
  resources/js/modules/access/types.ts
  resources/js/types/index.ts
  routes/api/access.php
  tests/Feature/Auth/LoginTest.php
  tests/Feature/UserTest.php
Due: npx eslint --fix, npx stylelint --fix

fix trailing slash
  resources/js/api/items.ts
  resources/js/modules/access/api.ts
Due: npx eslint --fix

improve helpers
  README.md
  resources/js/helpers/index.ts
Due: npx eslint --fix

fix class
  resources/js/components/OFileList.vue
  resources/js/modules/files/pages/PageFiles.vue
Due: npx eslint --fix, npx stylelint --fix

app-user and badge components
  resources/js/components/OBadge.vue
  resources/js/components/app/AppUser.vue
  resources/js/components/index.ts
  resources/js/modules/access/pages/PageUsers.vue
Due: npx eslint --fix, npx stylelint --fix

select slots
  resources/js/components/VSelect.vue
Due: npx eslint --fix, npx stylelint --fix

user resource improvements
  app/Http/Resources/Access/UserResource.php
Due: none

files improvements
  app/Models/Access/User.php
  app/Models/Files/File.php
  app/Services/Files/FileService.php
  app/Traits/Files/HasFiles.php
  database/seeders/PermissionSeeder.php
  resources/js/components/app/AppFiles.vue
  resources/js/modules/files/pages/PageFiles.vue
  routes/api/files.php
Due: npx eslint --fix, npx stylelint --fix

add pre-commit
  .husky/pre-commit
  .husky/pre-push
Due: none

show locale switch and dropdown only when there are more than one locale
  resources/js/components/VLocaleSwitch.vue
  resources/js/components/app/AppLocaleDropdown.vue
Due: npx eslint --fix, npx stylelint --fix

file title fw-normal
  resources/js/components/OFileList.vue
  resources/js/components/app/AppFiles.vue
Due: npx eslint --fix, npx stylelint --fix

add description to form controls
  resources/js/components/VCheckboxes.vue
  resources/js/components/VDatepicker.vue
  resources/js/components/VEditor.vue
  resources/js/components/VFile.vue
  resources/js/components/VFormControl.vue
  resources/js/components/VInput.vue
  resources/js/components/VRadios.vue
  resources/js/components/VSelect.vue
  resources/js/components/VTextarea.vue
  resources/sass/_globals.scss
Due: npx eslint --fix, npx stylelint --fix

file list tests
  database/seeders/PermissionSeeder.php
  tests/Feature/Auth/ProfileTest.php
Due: none

app item console command for generating files
  app/Console/Commands/AppItem.php
  stubs/ItemController.stub
  stubs/ItemFactory.stub
  stubs/ItemModel.stub
  stubs/ItemResource.stub
  stubs/ItemService.stub
  stubs/ItemStoreUpdateRequest.stub
  stubs/ItemTest.stub
  stubs/routes.stub
Due: none

fix namespace
  app/Console/Commands/AppItem.php
Due: none

badge fix text color
  resources/js/components/OBadge.vue
Due: npx eslint --fix, npx stylelint --fix

remove unnecessary type controller
  app/Http/Controllers/TypeController.php
Due: none

has type enum collect & collection belongs to many
  app/Classes/CollectionBelongsToMany.php
  app/Traits/HasTypeEnum.php
Due: none

fix sync
  app/Classes/CollectionBelongsToMany.php
Due: none

has type enum improvements
  app/Traits/HasTypeEnum.php
Due: none

remove unnecessary from type test
  tests/TypeTest.php
Due: none

files improvements & dropzone
  app/Http/Requests/Files/FileStoreUpdateRequest.php
  app/Models/Access/Permission.php
  app/Models/Access/Role.php
  app/Models/Access/User.php
  app/Models/Files/File.php
  app/Rules/Files/Filable.php
  app/Rules/Files/FilableType.php
  app/Rules/Files/FileType.php
  app/Services/Files/FileService.php
  app/Traits/Files/HasFiles.php
  app/Traits/HasService.php
  lang/en/validation.php
  lang/ru/validation.php
  package.json
  resources/js/components/app/AppDropzone.vue
  resources/js/components/app/AppFiles.vue
  resources/js/composables/useItems.ts
  resources/js/lang/en.ts
  resources/js/lang/ru.ts
  resources/sass/app.scss
  resources/sass/ui/_lists.scss
  resources/sass/vendor/_dropzone.scss
  routes/api/files.php
  tests/Feature/Files/FileTest.php
Due: npx eslint --fix, npx stylelint --fix

add card title
  resources/js/components/OCard.vue
Due: npx eslint --fix, npx stylelint --fix

add confirm yes focus on show
  resources/js/components/OConfirm.vue
Due: npx eslint --fix, npx stylelint --fix

fix dropzone margin
  resources/js/components/app/AppDropzone.vue
  resources/sass/vendor/_dropzone.scss
Due: npx eslint --fix, npx stylelint --fix

text-balance
  resources/js/components/VFormControl.vue
  resources/js/components/app/AppFiles.vue
  resources/sass/_globals.scss
Due: npx eslint --fix, npx stylelint --fix

dropzone and files improvements
  app/Models/Access/User.php
  app/Rules/Files/File.php
  app/Traits/Files/HasFiles.php
  lang/en/validation.php
  lang/ru/validation.php
  resources/js/components/app/AppDropzone.vue
  resources/js/components/app/AppFiles.vue
  resources/js/lang/en.ts
  resources/js/lang/ru.ts
Due: npx eslint --fix, npx stylelint --fix

add file attribute translations
  lang/en/validation.php
  lang/ru/validation.php
Due: none

fix file store update request
  app/Http/Requests/Files/FileStoreUpdateRequest.php
Due: none

fix pint lint-staged
  .lintstagedrc.json
Due: none

fix stubs and generation command
  app/Console/Commands/AppItem.php
  stubs/ItemService.stub
  stubs/ItemTest.stub
Due: none

fix dropzone margin
  resources/sass/vendor/_dropzone.scss
Due: npx stylelint --fix

async middleware pipeline
  resources/js/middleware/acl.ts
  resources/js/middleware/auth.ts
  resources/js/middleware/guest.ts
  resources/js/middleware/locale.ts
  resources/js/router/index.ts
  resources/js/router/middlewarePipeline.ts
  resources/js/types/index.ts
Due: npx eslint --fix

fix stub
  stubs/ItemService.stub
Due: none

remove unnecessary file
  .eslintrc.json
Due: none

fix has service
  stubs/ItemModel.stub
Due: none

remove sonarjs and update tabler
  eslint.config.js
  package.json
  resources/js/components/ODropdown.vue
  resources/js/components/OFileList.vue
  resources/js/components/app/AppFiles.vue
  resources/js/components/app/AppUser.vue
  resources/js/modules/files/pages/PageFiles.vue
  resources/sass/_globals.scss
  resources/sass/app.scss
  resources/sass/ui/_nav.scss
  resources/sass/ui/_navbar.scss
  resources/sass/vendor/_select.scss
Due: npx eslint --fix, npx stylelint --fix

Path conditions:
  npx eslint --fix: any of: *.{ts,vue}
  npx stylelint --fix: any of: *.{scss,css,vue}
